{
    "app_name": "Notifications Engine Example",
    "jellyfin": {
        "server_name": "YOUR_SERVER_NAME_HERE",
        "server_url": "http://YOUR_SERVER_URL_HERE:YOUR_PORT_HERE",
        "api_key": "YOUR_PHONE_NUMBER_HERE"
    },
    "whatsapp_bot_number": "YOUR_PHONE_NUMBER_HERE",
    "group_interval_seconds": 60,
    "start_hour": 10,
    "end_hour": 22,
    "timezone": "America/Argentina/Buenos_Aires",
    "language": "es"
}